.orders-screen-content {
    margin: 0px auto;
    max-width: 98%;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pos-fiscal-type {
    float: left;
    color: #DDD;
    font-size: 16px;
    margin-left: 10px;
    line-height: 48px;
    font-style: italic;
}

#pos-options-bar > h3 > a {
    color: white !important;
}

.pos .product .qty-tag {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
}

.pos .product .qty-tag.not-available {
    background: #d882ac;
}

.pos .order .orderline .qty-info {
    color: #777;
    font-weight: bold;
    font-style: normal;
}

.pos .order .orderline .qty-info.not-available {
    color: red;
}

/*error credit popup*/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #999;
    width: 100%;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: #444;
    background-color: #F7FDFA;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: #fff;
    background-color: #26ADE4;
}

.tg .tg-6uc3 {
    font-weight: bold;
    background-color: #393939;
    color: #ffffff;
    vertical-align: top
}

.tg .tg-ds4c {
    background-color: #393939;
    color: #ffffff;
    vertical-align: top
}

.tg .tg-yw4l {
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/*div.searchbox > input {*/
/*width: 160px !important;*/
/*}*/

/*.pos .clientlist-screen .searchbox input{*/
    /*width: unset;*/
/*}*/

/*.pos .searchbox input {*/
    /*width: unset;*/
    /*border: unset;*/
    /*padding: unset;*/
    /*padding-left: 38px;*/
    /*margin: 6px;*/
    /*background: url("../img/search.png") no-repeat 15px;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;*/
    /*font-size: 13px;*/
/*}*/

.pos .clientlist-screen .client-details input.client-name {
    /*font-size: 24px;*/
    /*line-height: 24px;*/
    /*margin: 18px 6px;*/
    width: 92.5% !important;
}