.pos .order .orderline .ms_info {
	text-align: right;
	width: 100%;
	font-size: 80%;
}

.pos .order-button .order-sequence{
	position:relative;
}
.pos .order-button .ms_info{
	font-size: 60%;
	position:absolute;
	text-align:center;
	width:100%;
	left:0;
	line-height:0;
	bottom:-5px;
}

.credit_journal {
	background: #16216a !important;
    border: solid 1px #64AF8A !important;
    color: white !important;
}

/*order button*/
.pos .order .orderline .session_info {
	text-align: left;
	width: 100%;
	font-size: 14px;
	color:blue;
}

.pos .order-button .order-sequence{
	position:relative;
}
.pos .order-button .session_info{
	font-size: 60%;
	position:absolute;
	text-align:center;
	width:100%;
	left:0;
	line-height:0;
	bottom:-5px;
	color:blue;
}

.pos .pos_selector_info {
	color: #2A8152
}